.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 50px 0 50px 0;

  color: white;
  background-color: black;
}

.titre {
  width: 100%;
  margin-bottom: 22px;
}

.logo p {
  color: white;
}

.communication {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
}

.dargaud .show-teaser {
  margin-top: 20px;
}

.dargaud-logo {
  margin-bottom: 20px;
}

.a-propos h2 {
  font-size: 30px;
  margin-bottom: 10px;
  font-style: normal;
  line-height: normal;
}

.confidentiel {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  color: white;
  background-color: black;
  padding-bottom: 10px;
  font-size: 12px;
}

.confidentiel .droit-reserve {
  margin-right: 23px;
  margin-bottom: 10px;
}

.confidentiel .signature {
  margin-right: 30px;
  margin-bottom: 10px;
}
