.header {
  background-color: black;
}

.scroll-button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: absolute;
  right: 800px;
  animation: button 2s ease-in-out infinite;
}

@keyframes button {
  0%,
  100% {
    transform: translateY(70px);
  }
  50% {
    transform: translateY(180px);
  }
}
