.main {
  background-color: black;
}

.element-1 {
  border: 1px solid white;
}

.element-2 {
  border: 1px solid white;
}

.element-3 {
  border: 1px solid white;
}

.image-1 {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border: 1px solid black;
}

.image-2 {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border: 1px solid black;
}

.image-3 {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border: 1px solid black;
}

.image-4 {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border: 1px solid black;
}

.image-5 {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border: 1px solid black;
}

.image-6 {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border: 1px solid black;
}

.image-7 {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border: 1px solid black;
}

.image-8 {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border: 1px solid black;
}

.image-9 {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border: 1px solid black;
}

.image-10 {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border: 1px solid black;
}

.image-13 {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border: 1px solid black;
}

.image-14 {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border: 1px solid black;
}

.image-15 {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border: 1px solid black;
}
