.main {
  background-color: black;
}

.narration {
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 158px 300px;
}

.narration p {
  font-family: "Lora";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;

  margin: 47px 0;
}

.hornement-narration-1 .hornement-narration-2 {
  width: 100%;
}

.hornement-narration-1 {
  margin-top: 110px;
}

.hornement-narration-2 {
  margin-bottom: 110px;
}

.element-selection-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.image-1 {
  width: 458px;
  height: 611px;
  margin-bottom: 120px;
}

.image-2 {
  width: 438px;
  height: 498px;
  margin: 120px 0 221px 0;
}

.element-selection-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.image-3 {
  width: 1098px;
  height: 360px;
  margin-bottom: 260px;
}

.image-4 {
  width: 451px;
  height: 381px;
  position: relative;
  left: 25%;
}

.image-5 {
  width: 663px;
  height: 284px;
  position: relative;
  left: 40%;
  top: 70px;
}

.img-5 img {
  margin-top: 500px;
}

.element-selection-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.image-6 {
  width: 405px;
  height: 376px;
  position: relative;
  left: 10%;
  margin-top: 162px;
}

.image-7 {
  z-index: 1;
  width: 453px;
  height: 423px;
  position: relative;
  bottom: 120px;
  right: 15%;
}

.element-selection-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-8 {
  z-index: 0;
  width: 370px;
  height: 363px;
  position: relative;
  bottom: 150px;
  left: 15%;
}

.image-9 {
  z-index: 1;
  width: 380px;
  height: 373px;
  position: relative;
  bottom: 40px;
  left: 14%;
  margin-top: 150px;
}

.image-10 {
  z-index: 2;
  width: 361px;
  height: 353px;
  position: relative;
  top: 230px;
  left: 13%;
}

.element-selection-6 {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.image-11 {
  width: 504px;
  height: 461px;
  position: relative;
  top: 150px;
  right: 30%;
  margin: 186px 0 200px 0;
}

.image-12 {
  width: 590px;
  height: 976px;
  position: relative;
  top: 150px;
  left: 250px;
}

.element-selection-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-13 {
  width: 420px;
  height: 453px;
  position: relative;
  left: 250px;
  margin-top: 80px;
}

.image-14 {
  width: 569.035px;
  height: 521px;
  position: relative;
  right: 250px;
  margin-top: 250px;
}

.image-15 {
  width: 322px;
  height: 627px;
  position: relative;
  left: 250px;
  bottom: 170px;
}

.image-16 {
  width: 642px;
  height: 550px;
  position: relative;
  right: 290px;
  bottom: 190px;
}

.image-17 {
  width: 296px;
  height: 388px;
  position: relative;
  left: 280px;
  bottom: 400px;
}

.image-18 {
  position: relative;
  right: 20px;
  bottom: 530px;
}

.image-19 {
  width: 1200px;
  height: 721px;
  position: relative;
  bottom: 380px;
}
