.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 30px;
  color: white;
  position: absolute;
  top: 13px;
  left: 628px;
  z-index: 1;
}

.button-nav {
  border: 1px solid currentColor;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #3c1223;
}

.point-de-vente {
  color: #3c1223;
  background-color: white;
}

.button-nav a p {
  padding: 6px 20px;
}

a {
  text-decoration: none;
}
