.parallax {
  height: 100vh;
  overflow-x: hidden;

  perspective: 1px;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer1 {
  transform: translateZ(0);
}

.layer2 {
  transform: translateZ(-1px);
}

.layer3 {
  transform: translateZ(0);
}

.parallax-layer.layer1 {
  width: 100%;
  height: 40rem;
}

.parallax-layer.layer2 {
  top: 10rem;

  width: 100%;
  height: 50rem;
}

.parallax-layer.layer3 {
  top: 20rem;

  width: 100%;
  height: 50rem;
}
