.header-parallax {
  background-image: black;
}

.header-parallax {
  position: relative;
  height: 85vh;
}

.parallax-layer {
  position: absolute;
  bottom: 0;
}

.layer-1 {
  top: 0%;
  height: 970px;
}

.layer-2 {
  top: 13%;
  left: 23%;
  width: 880px;
}

.layer-3 {
  top: 0%;
}

.spacer {
  height: 10vh;
}
