.bd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;
}

.image {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  position: relative;
}

.image img {
  position: absolute;
  right: 20%;
  top: 9%;
}

.presentation-text {
  padding-top: 100px;
  text-align: center;
}

h2 {
  font-size: 17px;
}

.presentation-text p {
  font-size: 16px;
  padding: 0 70px;
  position: relative;
}

.button-achat {
  border: 1px solid currentColor;
  border-radius: 30px;
  color: white;
  background-color: black;
}

.button-achat p {
  font-size: 15px;
}

.lien-librairie {
  padding-top: 30px;
  color: gray;
}
