.element-selection-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.element-selection-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.element-selection-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.element-selection-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 80px;
}

.element-selection-6 {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.element-selection-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
